.App {
  text-align: center;
}

.App-logo {
  height: 64px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-name-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.App-name-link:hover {
  color: #61dafb;
  text-decoration: underline;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
